[submodule "external/asio"]
	path = external/asio
	url = git@github.com:chriskohlhoff/asio.git
[submodule "external/aether"]
	path = external/aether
	url = git@github.com:delta-12/aether.git
[submodule "external/tomlplusplus"]
	path = external/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
